* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x:hidden;
}
.header {
  background-image:url(../images/section-4.jpg);
  background-size:cover;
  background-position:center;
  width:1348px;
  height:600px;
  padding:10px;
  margin: 0px auto;
}
.navbar {
  width:1266px;
  height:110px;
  padding:10px;
  margin: 0px auto;
}
.logo {
  margin-top:-10px;
  width:140px;
  height:114px;
  margin-left:-13px;
}
.nav {
  float:right;
  margin:0px auto;
  margin-top:-92px;
  width:516px;
  height:50px;
}
ul li {
  float:right;
  list-style:none;
  margin: 0px auto;
  margin-top:-10px;
  font-size:medium;
  font-weight:lighter;
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing:3px;
  text-decoration:none;
  padding:13px;
}
a:link {
  text-decoration:none;
  color:black;
}
a:visited {
  color:black;
}
a:hover {
  color:#999;
}
.name {
  width:631px;
  height:100px;
  margin:0px auto;
  margin-top:-94px;
}
.title {
  width:737px;
  margin-top: 209px;
  margin-left:115px;
  letter-spacing:33px;
  font-family:'Encode Sans Condensed', sans-serif;
  font-size: 42px;
  font-weight:lighter;
  font-variant:unicase;
  color:#282829;
}
.text {
  margin: 0px auto;
  margin-top: 43px;
  letter-spacing:8px;
  font-family:'Encode Sans Condensed', sans-serif;
  font-size:15pt;
  font-weight:lighter;
  font-variant:unicase;
  text-align: center;
}
.dropbtn {
  color: #272727;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272626;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 13px;
  margin-left:-16px;
}
.dropdown-content a {
  color: #ddd;
  padding: 0px 1px 0px 12px;
  text-decoration: none;
  display: block;
  border-top: 1px solid #383838;
  font-size: 10px;
  font-family: "Dosis", sans-serif;
  margin-top:-3px;
  word-spacing:1px;
  text-align:left;
  width:175px;
  height:20px;
  line-height: 30px;
}
.dropdown-content a:hover {
  background-color: #222222;
}
.dropdown:hover .dropdown-content {
  display:block;
}
.dropdown:hover .dropbtn {
  background-color: #272727;
}
.dropbtn1 {
  color: #272727;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #272626;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 13px;
  margin-left:-12px;
}
.dropdown-content1 a {
  color: #ddd;
  padding: 0px 1px 0px 5px;
  text-decoration: none;
  display: block;
  border-top: 1px solid #383838;
  font-size: 10px;
  font-family: "Dosis", sans-serif;
  margin-top:-3px;
  margin: 0px auto;
  word-spacing:1px;
  text-align:left;
  width:216px;
  height:20px;
  line-height: 30px;
}
.dropdown-content1 a:hover {
  background-color: #222222
}
.dropdown1:hover .dropdown-content1 {
  display:block;
}
.dropdown1:hover .dropbtn {
  background-color: #272727;
}
.main {
  width:1328px;
  height:318px;
  margin:0px auto;
  margin-top:202px;
}
.m1 {
  width:328px;
  height:293px;
  margin-top:-304px;
  margin-left:59px;
}
.r1 {
  width:179px;
  height:37px;
  margin-top:12px;
  margin-left:67px;
  letter-spacing: 6px;
  text-align: center;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size:15px;
}
.r1 p {
  letter-spacing:2px;
  text-transform:lowercase;
  font-family: "open sans";
  font-size:15px;
  margin-top:70px;
  margin-bottom:20px;
  line-height:23px;
}
.r1 h1 {
  letter-spacing:2px;
  text-transform:lowercase;
  font-family: "open sans";
  font-size:15px;
  margin-top:-12px;
  margin-bottom:20px;
  line-height:23px;
}
.about {
  width:1350px;
  height:500px;
  margin-top:-64px;
  margin-left:-2px;
}
.about_studio {
  width:300px;
  height:150px;
  padding:10px;
  margin-top:123px;
  margin-left:53px;
  margin-right:100px;
  margin-bottom:36px;
}
.about_studio p {
  letter-spacing:2px;
  text-transform:lowercase;
  font-family:'Encode Sans Condensed', sans-serif;
  font-size:15px;
  margin-top:7px;
  margin-bottom:20px;
  line-height:23px;
}
.about_studio span {
  letter-spacing: 6px;
  text-align: center;
  margin:5px 0 18px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size:15px;
}
.about_studio h1 {
  letter-spacing:2px;
  text-transform:lowercase;
  font-family:'Encode Sans Condensed', sans-serif;
  font-size:15px;
  margin-top:-12px;
  margin-bottom:20px;
  line-height:23px;
  font-weight:lighter;
}
.work {
  width:300px;
  height:150px;
  padding:10px;
  margin-top:-210px;
  margin-left:472px;
  margin-right:100px;
  margin-bottom:100px;
}
.work p {
  letter-spacing:2px;
  text-transform:lowercase;
  font-family:'Encode Sans Condensed', sans-serif;
  font-size:15px;
  margin-top:10px;
  margin-bottom:20px;
  line-height:23px;
}
.work span {
  letter-spacing: 6px;
  text-align: center;
  margin: 5px 0 18px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size:15px;
}
.work h1 {
  letter-spacing:2px;
  text-transform:lowercase;
  font-family:'Encode Sans Condensed', sans-serif;
  font-size:15px;
  margin-top:-13px;
  margin-bottom:20px;
  line-height:23px;
  font-weight:lighter;
}
.progress-bar {
  width:400px;
  height:3px;
  background-color:#bbb;
  padding:1px;
  border-radius:13px;
  margin-top: 8px;
  margin-left: 895px;
}
.progress {
  width:60%;
  height:4px;
  border-radius:10px;
  background-color:black;
}
.progress-bar1 {
  width:400px;
  height:3px;
  background-color:#bbb;
  padding:1px;
  border-radius:13px;
  margin-left:895px;
  margin-top:6px;
}
.progress1 {
  width:315px;
  height:4px;
  border-radius:10px;
  background-color:black;
}
.progress-bar2 {
  width:400px;
  height:3px;
  background-color:#bbb;
  padding:1px;
  border-radius:13px;
  margin-top: 10px;
  margin-left: 895px;
}
.progress2 {
  width:193px;
  height:4px;
  border-radius:10px;
  background-color:black;
}
.progress-bar3 {
  width:400px;
  height:3px;
  background-color:#bbb;
  padding:1px;
  border-radius:13px;
  margin-top: 10px;
  margin-left: 895px;
}
.progress3 {
  width:354px;
  height:4px;
  border-radius:10px;
  background-color:black;
}
.t1 {
  font-size:14px;
  letter-spacing:3px;
  margin-top: -493px;
  margin-left: 895px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t1 p {
  font-size:14px;
  letter-spacing:3px;
  margin-top: -18px;
  margin-left: 227px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t2 {
  font-size:14px;
  letter-spacing:3px;
  margin-top: 18px;
  margin-left: 895px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t2 p {
  font-size:14px;
  letter-spacing:3px;
  margin-top: -17px;
  margin-left: 292px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t3 {
  font-size:14px;
  letter-spacing:3px;
  margin-top: 18px;
  margin-left: 895px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t3 p {
  font-size:14px;
  letter-spacing:3px;
  margin-top: -21px;
  margin-left: 202px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t4 {
  font-size:14px;
  letter-spacing:3px;
  margin-top: 18px;
  margin-left: 895px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.t4 p {
  font-size:14px;
  margin-top:-21px;
  margin-left:340px;
  letter-spacing:3px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.visitors_content {
  background:#f7f7f7;
  width:100%;
}
.visitors {
  background:#f7f7f7;
  width:1346px;
  height:150px;
  padding:10px;
  margin: 0px auto;
  margin-top: 65px;
}
.v1 {
  width:200px;
  height:100px;
  padding:10px;
  margin-top:4px;
  margin-left:-4px;
  text-align:center;
  font-size: small;
  font-weight: lighter;
  font-family: "Dosis", sans-serif;
  letter-spacing: 3px;
  word-spacing: 2px;
  color:#111;
  padding-left:50px;
}
.v1 p {
  margin-top:22px;
  margin-left:-19px;
  margin-bottom:15px;
  font-size:20px;
}
.v1 span {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4;
  font-weight: 400;
  margin-left:-32px;
}
.v2 {
  width:200px;
  height:100px;
  padding:10px;
  margin-top:-121px;
  margin-left:364px;
  font-size: small;
  font-weight: lighter;
  font-family: "Dosis", sans-serif;
  letter-spacing: 3px;
  word-spacing: 20px;
  color:#111;
  padding-left:50px;
  text-align:center;
}
.v2 p {
  margin-top:22px;
  margin-left:-28px;
  margin-bottom:15px;
  font-size:20px;
}
.v2 span {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4;
  font-weight: 400;
  margin-left:-39px;
}
.v3 {
  width:200px;
  height:100px;
  padding:10px;
  margin-top:-119px;
  margin-left:705px;
  font-size: small;
  font-weight: lighter;
  font-family: "Dosis", sans-serif;
  letter-spacing: 3px;
  word-spacing: 20px;
  color:#111;
  padding-left:50px;
  text-align:center;
}
.v3 p {
  margin-top:22px;
  margin-left:-34px;
  margin-bottom:15px;
  font-size:20px;
}
.v3 span {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4;
  font-weight: 400;
  margin-left:-35px;
}
.v4 {
  width:200px;
  height:100px;
  padding:10px;
  margin-top:-119px;
  margin-left:1063px;
  font-size: small;
  font-weight: lighter;
  font-family: "Dosis", sans-serif;
  letter-spacing: 3px;
  word-spacing: 20px;
  color:#111;
  padding-left:50px;
  text-align:center;
}
.v4 p {
  margin-top:22px;
  margin-left:-34px;
  margin-bottom:15px;
  font-size:20px;
}
.v4 span {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4;
  font-weight: 400;
  margin-left:-41px;
}
.clients {
  height:400px;
  padding:10px;
  margin: 0px auto;
  margin-left: 15px;
  margin-right: -15px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 45px;
  margin-top: 183px;
  text-transform: uppercase;
  text-align:center;
  font-family: 'Encode Sans Condensed', sans-serif;
}
.border {
  width: 103px;
  height: 24px;
  border-top:1px solid black;
  margin:0px auto;
  margin-top:20px;
}
.container3 {
  font-size: 14px;
  line-height: 25px;
  margin: 0px auto;
  text-transform: none;
  margin-top: -377px;
  margin-left: 40px;
  text-align:center;
  letter-spacing:3px;
  font-family:'Encode Sans Condensed', sans-serif;
}
.lo {
  width:1366px;
  height:500px;
  margin:0px auto;
  margin-top:35px;
}
.lo1 {
  width: 100px;
  height: 83px;
  padding: 50px;
  border: 1px solid #eee;
  margin-top: 87px;
  margin-left: 75px;
  border-right: 0px;
  border-bottom: 0px;
}
.lo1:hover {
  opacity:0.5;
}
.lo2 {
  width: 100px;
  height: 83px;
  padding: 50px;
  border: 1px solid #eee;
  margin-top: -184px;
  margin-left: 275px;
  border-right: 0px;
  border-bottom: 0px;
}
.lo2:hover {
  opacity:0.5;
}
.lo3 {
  width: 100px;
  height: 83px;
  padding: 50px;
  border: 1px solid #eee;
  margin-top: -184px;
  margin-left: 476px;
  border-right: 0px;
  border-bottom: 0px;
}
.lo3:hover {
  opacity:0.5;
}
.lo4 {
  width: 100px;
  height: 83px;
  padding: 50px;
  border: 1px solid #eee;
  margin-top: -184px;
  margin-left: 677px;
  border-right: 0px;
  border-bottom: 0px;
}
.lo4:hover {
  opacity:0.5;
}
.lo5 {
  width: 100px;
  height: 83px;
  padding: 50px;
  border: 1px solid #eee;
  margin-top: -184px;
  margin-left: 878px;
  border-right: 0px;
  border-bottom: 0px;
}
.lo5:hover {
  opacity:0.5;
}
.lo6 {
  width: 100px;
  height: 83px;
  padding: 50px;
  border: 1px solid #eee;
  margin-top: -184px;
  margin-left: 1079px;
  border-bottom: 0px;
}
.lo6:hover {
  opacity:0.5;
}
.lo7 {
  width: 100px;
  height: 83px;
  padding: 50px;
  margin-top: 0px;
  margin-left: 75px;
  border: 1px solid #eee;
  border-right: 0px;
}
.lo7:hover {
  opacity:0.5;
}
.lo8 {
  width: 100px;
  height: 83px;
  padding: 50px;
  margin-top: -185px;
  margin-left: 275px;
  border: 1px solid #eee;
  border-right: 0px;
}
.lo8:hover {
  opacity:0.5;
}
.lo9 {
  width: 100px;
  padding: 50px;
  height: 83px;
  margin-top: -185px;
  margin-left: 476px;
  border: 1px solid #eee;
  border-right: 0px;
}
.lo9:hover {
  opacity:0.5;
}
.lo10 {
  width: 100px;
  height: 83px;
  padding: 50px;
  margin-top: -185px;
  margin-left: 677px;
  border: 1px solid #eee;
  border-right: 0px;
}
.lo10:hover {
  opacity:0.5;
}
.lo11 {
  width: 100px;
  height: 83px;
  padding: 50px;
  margin-top: -185px;
  margin-left: 878px;
  border: 1px solid #eee;
  border-right: 0px;
}
.lo11:hover {
  opacity:0.5;
}
.lo12 {
  width: 100px;
  height: 83px;
  padding: 50px;
  margin-top: -185px;
  margin-left: 1079px;
  border: 1px solid #eee;
}
.lo12:hover {
  opacity:0.5;
}
.footer {
  background:#f7f7f7;
  width:100%;
  height:180px;
  padding:10px;
  margin: 0px auto;
  margin-top:80px;
  letter-spacing:2px;
}
.logos {
  margin: 0px auto;
  width: 400px;
}
.logo1 {
  margin-top:44px;
  margin-left:31px;
}
.logo2 {
  margin-top:-65px;
  margin-left:114px;
}
.logo3 {
  margin-top:-63px;
  margin-left:206px;
}
.logo4 {
  margin-top:-65px;
  margin-left:302px;
}
.footer span {
  margin-top:-79px;
  margin: 0px auto;
  width:10px;
  height:50px;
}
.footer h5 {
  font-size:14px;
  font-family: 'Encode Sans Condensed', sans-serif;
  margin-top:-17px;
  margin-left:104px;
  font-weight:lighter;
}
.copy {
  margin-top:16px;
  margin-left:68px;
}
.copy p {
  font-size:14px;
  font-family: 'Encode Sans Condensed', sans-serif;
  margin-top:-30px;
  margin-left:37px;
}
